include README.txt
include examples/*.py
include setup.py
include skfmm/*.cpp
include skfmm/*.h
include skfmm/setup.py
include skfmm/__init__.py
include skfmm/pfmm.py
include skfmm/heap.py
include skfmm/pheap.pyx
include Makefile
include LICENSE.txt
include CONTRIBUTORS.txt
include profile/prof.cpp
include profile/prof.sh
include profile/profile.py
include doc/*.png
include doc/*.rst
include doc/conf.py
include static_analysis.sh
