include README.txt
include examples/2d_example.py
include setup.py
include skfmm/heap.h
include skfmm/heap.cpp
include skfmm/fast_marching.h
include skfmm/setup.py
include skfmm/fast_marching.cpp
include skfmm/fmm.cpp
include skfmm/__init__.py
include skfmm/pfmm.py
include Makefile
include LICENSE.txt
include profile/prof.cpp
include profile/prof.sh
include profile/profile.py
include doc/2d_phi_travel_time.png
include doc/examples.rst
include doc/2d_phi_travel_time_mask.png
include doc/2d_phi_distance.png
include doc/2d_phi.png
include doc/conf.py
include doc/index.rst
include static_analysis.sh
include tests/test_fmm.py
